@model string
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>An error occurred while processing your request</h1>
    <p>@Model</p>
    <a class="default-btn primary" href="@Url.Action("Index", "Home")">Go back to Home</a>
</div>